<!DOCTYPE html>
<html >
<head>
    <title>harekaaaaaat</title>
</head>
<body>
{% for hrkt in harkat %}
    <div style="width: 300px; height: fit-content; background-color: red; border-radius: 22px; padding: 5px; margin: 5px; text-align: center">
        <img style="width: 285px; height: 200px; object-fit: cover; border-radius: 22px; margin-top: 10px" src="{{ hrkt.Picture.url }}" alt="hi">
            <div style="padding-inline: 2px">
                <h3 style="text-align: center">{{ hrkt.Title }}</h3>
                <div style="width: 280px; height: 30px; border-radius: 25px; border: 1px solid grey;">
                    {{ hrkt.MadadKar.get_GroupType_display }}
                    :
                    <span>{{ hrkt.MadadKar.Name }}</span>
                </div>
                <div style="width: 280px; height: 30px; border-radius: 25px; border: 1px solid grey;">
                    مبلغ کل
                    :
                    {{ hrkt.TotalAmount }}
                </div>
                <div style="width: 280px; height: 30px; border-radius: 25px; border: 1px solid grey;">
                    <a href="harekat/{{ hrkt.id }}">{{ hrkt.Title }}</a>
                </div>
            </div>
    </div>
{% endfor %}
</body>
</html>