<!DOCTYPE html>
<html lang="fa-ir"><head>

    <meta charset="UTF-8" >

    <title>{% block title %}قرارگاه جهادی شهید حاج قاسم سلیمانی{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#E6A50F" />
    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
{#	<meta property="og:site_name" content="{% block title %} {{ block.super }} قرارگاه جهادی شهید حاج قاسم سلیمانی{% endblock title %}" />#}
	<meta property="og:locale" content="fa_IR" />




	<meta itemprop="name" content="{{ site_name }}"/>
	<meta property="og:title" content="{{ site_name }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ home_url }}" />
{#	<meta itemprop="description" content="<?php echo wp_strip_all_tags(get_the_excerpt()); ?>"/>#}
{#	<meta property="og:description" content="<?php echo wp_strip_all_tags(get_the_excerpt()); ?>" />#}
{#	<meta property="og:article:author" content="<?php $my_theme = wp_get_theme(); echo esc_html( $my_theme->get( 'Author' ) ); ?>" />#}
{#	<meta property="og:image" content="<?php the_post_thumbnail_url( 'medium' ); ?>" />#}
{#	<meta itemprop="image" content="<?php the_post_thumbnail_url( 'medium' ); ?>"/>#}







    <link rel="stylesheet" href="/static/style.css">

    <link rel="icon" type="image/png" href="/static/assets/logo.png">


</head>




<body >
    <header class="row">
        <div id="fixed-nav">
            <canvas></canvas>
            <div class="container" style="position: relative;">
                <div class="fr">

                    <div class="menu-%db%8c%d8%a7%d8%b2%d9%87%d8%b1%d8%a7-container">
                        <ul id="menu-%db%8c%d8%a7%d8%b2%d9%87%d8%b1%d8%a7" class="menu"><li id="menu-item-7" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-7"><a href="https://hajghasem.ir/category/haj-ghasem">حاج قاسم</a></li>
                            <li id="menu-item-6" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-6"><a href="https://hajghasem.ir/category/multi-media">چندرسانه ای</a></li>
                            <li id="menu-item-47617" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47617"><a href="https://postermovement.com/fa/soleimani">پوستر</a></li>
                            <li id="menu-item-47618" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47618"><a href="https://soleimani.ir/vasiatnameh">وصیت نامه</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fl">

                    <a href="{% if user.is_authenticated %}{% url 'admin:logout' %}{% else %}{% url 'admin:login' %}{% endif %}" class="liveBtn fl hide-xs">
                        حساب کاربری
                        <i class="mdi mdi-18px mdi-television-classic"></i>
                    </a>

                    <nav class="header-social hide-xs fl" style="padding:3px 12px 0 12px;">
                        <a href="https://t.me/Mantaghe_Tahavolat" class="effect-shine" title="Telegram"><i class="mdi mdi-telegram"></i></a>
                        <a href="https://wa.me/989366208105" class="effect-shine" title="WhatsApp"><i class="mdi mdi-whatsapp"></i></a>
                        <a href="https://twitter.com/hajghasem.ir" class="effect-shine" title="Twitter"><i class="mdi mdi-twitter"></i></a>
                        <a href="https://instagram.com/hajghasem.ir" class="effect-shine" title="instagram"><i class="mdi mdi-instagram"></i></a>
                        <a href="https://facebook.com/hajghasem.ir" title="FaceBook" class="effect-shine"><i class="mdi mdi-facebook"></i></a>
                    </nav>

                    <time style="padding:3px 12px 0 12px;" class="fl hide-xs" datetime="{% now "jS F Y H:i" %}" itemprop="datePublished">
                        <small>{% now "SHORT_DATETIME_FORMAT" %}</small>
                    </time>


                </div>
            </div>
        </div>

        <div class="navLogo tr">
            <div class="container">
                <div class="fr" style="position: relative;z-index: 9;margin-left: 133px;">
                    <a class="logo hide-xs" href="{{ home_url }}">
                        <img class="fr tr" src="/static/assets/logo.svg#svg_logo" alt="{{ site_name }}">
                        <div class="fr tar" style="margin-top: 27px;margin-right: 5px;">
                            <strong>سامانه مواسات</strong>
                            <div class="enAddress">قرارگاه جهادی شهید حاج قاسم سلیمانی</div>
                        </div>
                    </a>
                </div>
                <div class="newsTickerContainer hide-xs" >
                    <a href="{{ home_url }}/category/news/" class="NewsTickerTitle">اخبار تحولات منطقه</a>

                    <div class=" newsTicker owl-carousel" style="margin-top: 36px;margin-right: 14px;max-width: 421px;float: right;" >
                        <a href="<?php the_permalink(); ?>">
                          <h4 class="row white-space">سلام</h4>
                        </a>
                        <a href="<?php the_permalink(); ?>">
                          <h4 class="row white-space">سلام</h4>
                        </a>
                        <a href="<?php the_permalink(); ?>">
                          <h4 class="row white-space">سلام</h4>
                        </a>
                    </div>
                </div><!--end newsTickerContainer-->
            </div>
        </div><!--End NavLogo-->

        <div class="NavHeaderContainer">
            <div class="NavHeader container tr">

                <div class="fr">
                    <ul class="menu">
                        <li class="menu-item"><a href="{% url 'index' %}">خانه</a></li>
                        <li class="menu-item"><a href="https://hajghasem.ir">حاج قاسم سلیمانی</a></li>
                        <li class="menu-item"><a href="{% url 'CoursePage' %}">کلاس درس</a></li>
                        <li class="menu-item"><a href="{% url 'harkat_page' %}">حرکت‌های جهادی</a></li>
                        <li class="menu-item"><a href="{% url 'all_challenges' %}">چالش‌ها</a></li>
                        <li class="menu-item"><a href="https://hajghasem.ir/category/news">اخبار منطقه</a></li>
                        {% if request.user.is_superuser and edit_url %}
                            <li class="menu-item"><a href="{{ edit_url }}">ویرایش</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="fl searchbox hide-xs">
                    <form method="get" action="{{ home_url }}">
                        <input type="search" name="s" required placeholder="جستجو">
                        <div class="SearchIconContainer">
                            <i class="mdi mdi-magnify searchicon"></i>
                            <input type="submit" value="" >
                        </div>
                    </form>
                </div>

            </div>
        </div>


    </header>
<main class="row">

    {% block content %}{% endblock content %}

</main>

<footer class="row">
    <div class="container">
        <br style="clear:both;">
        <hr class="row" style="border: 1px solid var(--color-very-light);margin-bottom: 13px;" >
        <div id="footer2" class="row">
            <div class="fr">شادی روح سردار سرافراز اسلام، <span style="color:red;">شهید</span> حاج قاسم سلیمانی <span style="color:darkgreen">صلوات</span></div>
            <a href="http://hajghasem.ir/about" class="fl hide-xs"> درباره ما </a>
            <a class="fl hide-xs" style="padding:0 1%;"> | </a>
            <a href="http://hajghasem.ir/contact" class="fl hide-xs"> ارسال آثار مرتبط با حاج قاسم</a>
        </div>
    </div>
</footer>



<script src="/static/bower_components/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
<script src="/static/scripts/tipped.js"></script>
<script src="/static/scripts/mediastyler.js"></script>
<script src="/static/bower_components/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/bower_components/granim/dist/granim.min.js"></script>

<script src="/static/scripts/script.js"></script>

<link rel="stylesheet" href="/static/css/MaterialDesign-Webfont-master/css/materialdesignicons.min.css">


</body>
</html>