{% extends "base.html" %}
{% block content %}

    {% include "course.html" %}
    
    <section id="ghasem_vid" class="row">
        <video class="simple" onplay="this.volume = 0.05;" autoplay loop src="/static/assets/emad.mp4"></video>

        <div class="pngwing">
            <br>
            <a class="btn fr effect-shine">
                <i class="mdi mdi-face-outline fr"></i>
                من دنبال کار هستم
            </a>
            <a class="btn fr effect-shine">
                <i class="mdi mdi-apple-finder fr"></i>
                من دنبال کارمند میگردم
            </a>
        </div>
    </section>

    {% include "harkat.html" %}


    {% include "challenge.html" %}

{% endblock content %}