{% extends "base.html" %}
{% block content %}

    {% include "course.html" %}
    
    <section id="ghasem_vid" class="row">
        <video class="simple" onplay="this.volume = 0.05;" autoplay loop src="/static/assets/emad.mp4"></video>

        <div class="pngwing tr">
            <br>
            <a class="btn fr effect-shine" href="{% url "UserCreate" %}">
                <i class="mdi mdi-face-outline fr"></i>
                من دنبال کار هستم
            </a>
            <a class="btn fr effect-shine" href="{% url "JobCreate" %}">
                <i class="mdi mdi-apple-finder fr"></i>
                من دنبال کارمند میگردم
            </a>
        </div>
    </section>

    {% include "harkat.html" %}


    {% include "challenge.html" %}




    <div class="row padding_rem" style="padding: 2rem 0; margin: 2rem auto">
        <div class="row padding_rem">
            <h2 class="title_line"><span class="tc">
                نقشه پراکندگی
                <i class="mdi mdi-moon-first-quarter"></i>
                پروژه‌های جهادی
                <i class="mdi mdi-moon-last-quarter"></i>
            </span></h2>
            <div class="row br" style="overflow: hidden;" >
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>

    <div id="popup" title="myproject" class="ol-popup">
          <a href="#" id="popup-closer" class="ol-popup-closer"></a>
          <div id="popup-content"></div>
    </div>





{% endblock content %}



{% block scripts %}
<script>

    var content = document.getElementById('popup-content');
    var center = ol.proj.transform([52.5640869140625, 29.591371238663804], 'EPSG:4326', 'EPSG:3857'); //initial position of map
    var view = new ol.View({
        center: center,
        zoom: 8,
    });

//raster layer on map
   var OSMBaseLayer = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    straitSource = new ol.source.Vector({ wrapX: true });
    var straitsLayer = new ol.layer.Vector({
        source: straitSource
    });

    var layers = [OSMBaseLayer, straitsLayer];

    map = new ol.Map({
        layers: layers,
        target: 'map',
        view: view,
        controls: [new ol.control.FullScreen(), new ol.control.Zoom()],
    });








    // Enhance filter
    var enhance = new ol.filter.Colorize({ operation:'enhance', value: 1 });
    OSMBaseLayer.addFilter(enhance);

    // Custom filter
    var filter = new ol.filter.Colorize();
    OSMBaseLayer.addFilter(filter);

    enhance.setActive(false);
    filter.setActive(true);

    filter.setFilter({ operation:"sepia", red:255, green: 202, blue: 25, value: 0.7,});

    map.addControl(new ol.control.Permalink({ visible: false }));






   // Popup showing the position the user clicked
    var container = document.getElementById('popup');
    var popup = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    });
    map.addOverlay(popup);


    map.on('click', function (evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel, function (feat, layer) {
            return feat;
        });
        {#alert(feature.get('url'));#}
        window.location.href=feature.get('url');
    });



  /* Add a pointermove handler to the map to render the popup.*/
        map.on('pointermove', function (evt) {
            let feature = map.forEachFeatureAtPixel(evt.pixel, function (feat, layer) {
                return feat;
            });
            console.log(evt);
            if (feature && feature.get('type') === 'Point') {
                var coordinate = evt.coordinate;    //default projection is EPSG:3857 you may want to use ol.proj.transform
                content.innerHTML = feature.get("desc");
                popup.setPosition(coordinate);
            } else {
                popup.setPosition(undefined);

            }
        });

var data=[
    {% for mi in map %}
        {
            "title":"{{ mi.title }}",
            "photo":"{{ mi.photo }}",
            "icon":"{{ mi.icon }}",
            "lng":{{ mi.lng }},
            "lat":{{ mi.lat }},
            "url":"{{ mi.url }}"
        },
    {% endfor %}
];

function addPointGeom(data) {
    data.forEach(function(item) {
        var title = item.title,
        iconFeature = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.transform([item.lng, item.lat], 'EPSG:4326', 'EPSG:3857')),
            type: 'Point',
            url: item.url,
            desc: '<div style="font-family: var(--font);direction: rtl;"> <p class="fr">' +
                '<b>' + title + ' </b> </p>  ' +
                '<img class="br" style="max-width: 162px;display: inline-block;margin-bottom: -5px" src="'+item.photo+'" > </div>'}),
        iconStyle = new ol.style.Style({
            image: new ol.style.Icon({
                scale: 0.3,
                anchor: [0.5, 1],
{#                  src: '/static/img/social_media_network_online_maps-64.webp'#}
                src: item.icon,
            })
        });
        iconFeature.setStyle(iconStyle);
        straitSource.addFeature(iconFeature);

    });
}// End of function showStraits()

addPointGeom(data);


</script>
{% endblock scripts %}

{% block style %}
<style>
    .ol-overlaycontainer-stopevent {
        box-shadow: inset 0 0 18px 18px #fff;
    }
    .ol-zoom {
        top: 1.5em !important;
        left: 1.5em !important;;
        box-shadow: 0px 0 10px 2px var(--color-very-light);
    }
    .ol-zoom * {
        background-color: var(--color-very-light) !important;
    }
    .ol-zoom *:hover {
        opacity: 0.9;
    }

    .ol-full-screen.ol-unselectable.ol-control{
        box-shadow: inset 0 0 18px 18px var(--color-very-light);
        right: 1.5em !important;
        top: 1.5em !important;
    }
    .ol-full-screen-false {
        background-color: var(--color-very-light) !important;
    }
</style>
{% endblock style %}
