{% extends "base.html" %}
{% block title %}ثبت نام{% endblock title %}
{% block content %}
    <div class="container padding reg_form" style="background-image: url('static/assets/slide1.jpg'); background-size: cover">
        <div class="padding fr columns-two" style="background-color: #fffa; backdrop-filter: blur(2px)">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn">ثبت نام</button>
            </form>
        </div>
        <div class="columns-two"></div>
    </div>
    <style>
    .reg_form p{
        padding-top: 1rem;
    }
    .reg_form p label {
        min-width: 110px;
        float: right;
    }
    </style>
{% endblock content %}
