{% load saelozahra_tag %}
<div class="section cc-home-wrap">
    <div class="intro-header cc-subpage" style="width: 100%; height: 410px; background-image: url('{% if data.Cover %}{{ data.Cover.url }}{% else %}/static/img/bgIMG4.svg{% endif %}'); background-size: cover; background-position: center; background-repeat: no-repeat; margin-bottom: auto; text-align: center">

    </div>
    <div class="row" style="height: 202px; margin-top: -101px; margin-bottom: 33px">
        <img class="avatar-pic" src="{% if data.Avatar %}{{ data.Avatar.url }}{% else %}/static/satrap-logo-light.png{% endif %}" >
        </div>
    <div class="about-story-wrap">
    <h3>
        {{ data.get_GroupType_display }} : {{ data.Name }}
    </h3>
        <div class="divider"></div>
        <div class="container">
            <p class="paragraph-light">
                {{ data.Bio|safe }}
            </p>

            <br style="clear: both">
            <br style="clear: both">
            <div class="row crowd_funding">
                <br style="clear: both">
                <br style="clear: both">
                <h2 class="title_line"><span class="tc">حرکت‌های جهادی</span></h2>
                <br style="clear: both">
                <br style="clear: both">
                <br style="clear: both">
                <br style="clear: both">
                <div class="container two-col">
                    {% for hi in harkat %}
                        {% include "harkat_item.html" with h=hi %}
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>