
<div class="section cc-home-wrap">
    <div class="intro-header cc-subpage" style="width: 100%; height: 410px; background-image: url('{% if data.Cover %}{{ data.Cover.url }}{% else %}/static/img/bgIMG4.svg{% endif %}'); background-size: cover; background-position: center; background-repeat: no-repeat; margin-bottom: auto; text-align: center">

    </div>
    <div style="width: 100%; height: 200px; margin-top: -7.6rem; display: inline-block; text-align: center">
        <img src="{% if data.Avatar %}{{ data.Avatar.url }}{% else %}/static/satrap-logo-light.png{% endif %}" style="object-fit: contain; width: 200px; height: 200px; display: inline-block; border:  5px solid rgba(215,215,215,0.75); border-radius: 20px">
        </div>
    <div class="about-story-wrap">
    <h3>
        {{ data.get_GroupType_display }} : {{ data.Name }}
    </h3>
        <div class="divider"></div>
        <p class="paragraph-light">
        {{ data.Bio|safe }}
        </p>
    </div>
    <div class="divider">

    </div>
</div>
