<a target="_blank" href="{{ challenge.get_absolute_url }}" title="{{ challenge.title }}" class="row fr lastContentItem padding row borderlight br taj tooltip">
    <img src="{{ challenge.cover.url }}" class="row wp-post-image" alt="{{ challenge.title }}" loading="lazy" width="313" height="202">
    <h4 class="white-space row tar">{{ challenge.title }}</h4>
    <div class="row taj">
        <i class="mdi mdi-format-quote-open"></i>
        {{ challenge.description|safe|striptags|truncatewords_html:55 }}
        <i class="mdi mdi-format-quote-close"></i>
    </div>
</a>