{% extends "base.html" %}
{% load saelozahra_tag %}
{% block title %}{{ divar }} | {{ site_name }}{% endblock title %}
{% block content %}
    <div class="container">

        <nav id="bread-crumb" class="row tar box padding">
            <div class="fr" style="position: relative">
                <a class="effect-underline" href="{{ home_url }}">خانه</a>
            </div>
            <i class="fr tcl mdi mdi-chevron-left"></i>
            <div class="fr" style="position: relative">
                <a class="effect-underline" href="{{ home_url }}/challenge/">دیوار مهربانی</a>
            </div>
            {% if divar.RelatedProject %}
                <i class="fr tcl mdi mdi-chevron-left"></i>
                <div class="fr" style="position: relative">
                    <a class="effect-underline" href="{{ project.get_absolute_url }}">
                        پروژه
                        <i class="mdi mdi-apache-kafka"></i>
                        {{ divar.RelatedProject }}</a>
                </div>
            {% endif %}
            <i class="fr tcl mdi mdi-chevron-left"></i>
            <a class="effect-shine" href="">
                {{ divar.type_value }}
                <i class="mdi mdi-heart-box-outline" style="color: var(--color-very-light)"></i>
                {{ divar }}
            </a>
        </nav>

        <div class="columns-two padding sticky" style="padding-left: 0; font-size: 133%;">
            {% include "ProjectItem.html" with p=divar.RelatedProject %}
            <div class="row box padding">
                <h5 class="title_line" style="margin-top: 22px">
                    <span class="tc" style="background-color: #f9f9f9;margin-top: 7px;">اطلاعات تماس</span>
                </h5>
                <div class="padding row">
                    <a href="tel:{{ divar.RelatedProject.madadkar.Tel }}" class="padding row">
                        <i class="mdi mdi-phone"></i>
                        شماره تماس :
                        {{ divar.RelatedProject.madadkar.Tel }}
                    </a>
                </div>
                {% if divar.RelatedProject.madadkar.Url %}
                    <a href="{{ divar.RelatedProject.madadkar.Url }}" class="padding row">
                        <i class="mdi mdi-phone"></i>
                        وب سایت :
                        {{ divar.RelatedProject.madadkar.Url }}
                    </a>
                {% endif %}
                {% if divar.RelatedProject.madadkar.Eita %}
                    <a href="{{ divar.RelatedProject.madadkar.Eita }}" class="padding row">
                        <i class="mdi mdi-phone"></i>
                        حساب ایتا :
                        {{ divar.RelatedProject.madadkar.Eita }}
                    </a>
                {% endif %}
                {% if divar.RelatedProject.madadkar.Rubika %}
                    <a href="{{ divar.RelatedProject.madadkar.Rubika }}" class="padding row">
                        <i class="mdi mdi-phone"></i>
                        حساب روبیکا :
                        {{ divar.RelatedProject.madadkar.Rubika }}
                    </a>
                {% endif %}
                {% if divar.RelatedProject.madadkar.Bale %}
                    <a href="{{ divar.RelatedProject.madadkar.Bale }}" class="padding row">
                        <i class="mdi mdi-phone"></i>
                        حساب بله :
                        {{ divar.RelatedProject.madadkar.Bale }}
                    </a>
                {% endif %}
                <div class="padding row">
                    {{ divar.RelatedProject.madadkar.Address }}
                    <br>
                    {% if divar.RelatedProject.location %}
                        <br>
                        <iframe width="313" height="313" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                class="br4 row" src="https://maps.google.com/maps?q={{ divar.RelatedProject.location }}&hl=fa&z=14&output=embed" >
                         </iframe>
                         <br />
                         <small>
                           <a href="https://maps.google.com/maps?q={{ divar.RelatedProject.location }}&hl=fa;z=14&output=embed"
                            style="color:#0000FF;text-align:left" target="_blank" >
                             نمایش در نقشه بزرگتر
                           </a>
                         </small>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="columns-two padding sticky" style="padding-left: 0; font-size: 133%">
            <div class="row box padding" >
                <img class="br4 row" src="{{ divar.Picture.url }}" alt="{{ divar }}">
            </div>
            <div class="row box padding" style="background-image: url('/static/assets/fabric_1.webp');background-blend-mode: darken;">

                <h6 class="tag fl bg br" style="border: 1px dotted var(--color); position: relative">
                    <a href="#" class="effect-underline" style=" padding: 0.2rem 0.7rem">
                        آگهی
                        <i class="mdi mdi-apache-kafka"></i>
                        {{ divar.type_value }}
                    </a>
                </h6>

                <a href="{{ divar.get_absolute_url }}" class="row">
                    <h1 class="row white-space tar padding tcd" style="font-size: 133%">{{ divar }}</h1>
                </a>
                <div class="taj row padding">
                    {{ divar.Description|safe }}
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
