{% extends "base.html" %}
{% load saelozahra_tag %}
{% block title %}{{ forum }} | {{ site_name }}{% endblock title %}
{% block content %}
    <div class="container">

        {% include "bread_crumb.html" with app_url='all_challenges' app_title="چالش ها" sec_url=project.get_absolute_url sec_name="پروژه <i class='mdi mdi-apache-kafka'></i>"|add:project.name|safe item=forum.title %}

        <div class="columns-two padding sticky" style="padding-right: 0">
            {% include "ProjectItem.html" with p=project %}
            <div class="row box padding">
                <br>

                <div class="row padding">
                    <h4 class="title_line"><span class="tc" style="background-image: url('/static/assets/double-bubble-outline.webp')">پاسخ به این چالش</span></h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="fid" value="{{ forum.id }}">
                        <input type="hidden" name="uid" value="{{ request.user.id }}">
                        <label for="description_input" class="tar tc fr padding">راه حل خودتونو برامون بنویسین</label>
                        <textarea name="description" id="description_input" class="row" rows="7"></textarea>
                        <br>
                        <div class="row tar" style="padding-top: 1rem;margin-top: -3.5rem;margin-right: 1rem;">
                            <input type="file" name="file" placeholder="فایل">
                        </div>
                        <div class="row">
                            <button type="submit" class="btn fl br4">
                                <i class="mdi mdi-send fl" style="transform: rotate(180deg);margin-top: -3px;margin-right: 5px;"></i>
                                <b>ارسال</b>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="columns-two padding sticky" style="padding-left: 0; font-size: 133%">
            <div class="row box padding" style="background-image: url('/static/assets/fabric_1.webp');background-blend-mode: darken;">
                <h1 class="row white-space tar padding tcd" style="font-size: 133%">{{ forum.title }}</h1>
                <div class="taj padding" >
                    {{ forum.description|safe }}

                    {% if forum.file %}
                        <a class="fl effect-shine" href="{{ forum.file.url }}">
                            <i class="mdi mdi-file"></i>
                            دانلود فایل
                        </a>
                    {% endif %}

                    {% if forum.cover %}
                        <img src="{{ forum.cover.url }}" alt="{{ forum.title }}" class="row br4" style="margin-bottom: 0.6rem;border: 2px dashed var(--color-light);">
                    {% endif %}
                </div>
            </div>
            {% for r in response %}
                <div class="row taj box padding_rem" style="padding: 2rem; font-size: 118%">
                    <a id="response{{ r.id }}" href="#response{{ r.id }}">
                        <b>
                            <div class=" fl">
                                <i class="mdi mdi-pound" style="font-size: 14px;"></i>
                                <span style="font-size: 20px; padding-left: 20px;">{{ r.id }}</span>
                            </div>
                            {{ r.writer.get_full_name }}
                        </b>
                        :
                    </a>
                    <br>
                    <div>
                        {{ r.description|safe }}
                        <br>
                        {% if r.file %}
                            <a class="effect-shine" href="{{ r.file.url }}">دانلود فایل</a>
                        {% endif %}
                        <div class="row tar">
                            <i class="mdi mdi-calendar-range-outline tcd"></i> <b class="tc">{{ r.date.date|rplc }}</b>
                            <i class="mdi tcd mdi-clock-outline" style="margin-right: 1rem;"></i>  <b class="tc">  {{ r.date.time }}</b>
                            <a id="response{{ r.id }}" href="#response{{ r.id }}" style="font-size: 20px; padding-left: 20px;">
                                <i class="mdi mdi-folder-pound-outline tcd" style="margin-right: 1rem;font-size: 16px;"></i>
                                <b>
                                    <span class="tc">{{ r.id }}</span>
                                </b>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
    .box{
        background-image: url("/static/assets/double-bubble-outline.webp");
        background-blend-mode: darken;
    }
    .title_line .tc {
        transform: translateY(-14px);
    }
     .harkat_item{
         font-size: 110%;
         background-image: url('/static/assets/fabric_1.webp');
         background-blend-mode: darken;
     }
    </style>
{% endblock content %}
