{% extends "base.html" %}
{% load saelozahra_tag %}
{% block content %}
    <div class="container">

        <nav id="bread-crumb" class="row tar box padding">
            <div class="fr" style="position: relative">
                <a class="effect-underline" href="{{ home_url }}">صفحه اصلی</a>
            </div>
            <i class="fr tcl mdi mdi-chevron-left"></i>
            <div class="fr" style="position: relative">
                <a class="effect-underline" href="{{ home_url }}/challenge/">چالش ها</a>
            </div>
            <i class="fr tcl mdi mdi-chevron-left"></i>
            <div class="fr" style="position: relative">
                <a class="effect-underline" href="{{ project.get_absolute_url }}">پروژه <i class="mdi mdi-apache-kafka"></i> {{ project }}</a>
            </div>
            <i class="fr tcl mdi mdi-chevron-left"></i>
            <a class="effect-shine" href="">{{ forum }}</a>
        </nav>

        <div class="columns-two padding sticky" style="padding-right: 0">
            {% include "ProjectItem.html" with p=project %}
            <div class="row box padding">
                <br>

                <div class="row padding">
                    <h4 class="title_line"><span class="tc" style="background-color: #f9f9f9">پاسخ به این چالش</span></h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="fid" value="{{ forum.id }}">
                        <input type="hidden" name="uid" value="{{ request.user.id }}">
                        <label for="description_input" class="tar tc fr padding">راه حل خودتونو برامون بنویسین</label>
                        <textarea name="description" id="description_input" class="row" rows="7"></textarea>
                        <br>
                        <div class="row tar" style="padding-top: 1rem">
                            <input type="file" name="file" placeholder="فایل">
                        </div>
                        <div class="row">
                            <button type="submit" class="btn fl br4">
                                <i class="mdi mdi-send fl" style="transform: rotate(180deg);margin-top: -3px;margin-right: 5px;"></i>
                                <b>ارسال</b>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="columns-two padding sticky" style="padding-left: 0">
            <div class="row box padding">
                <h1 class="row white-space tar padding tcd">{{ forum.title }}</h1>
                <div class="tar padding" >{{ forum.description|safe }}</div>
            </div>
            <div class="row tar box padding">

                {% for r in response %}
                    <a id="response{{ r.id }}" href="#response{{ r.id }}">
                        <b>
                            <div class=" br4">
                                <i class="mdi mdi-pound"></i>
                                <span style="font-size: 20px; padding-left: 20px;">{{ r.id }}</span>
                            </div>
                            {{ r.writer.get_full_name }}
                        </b>
                        :
                    </a>
                    <br>
                    <div>
                        {{ r.description|safe }}
                        {% if r.file %}
                            <a href="{{ r.file.url }}">دانلود فایل</a>
                        {% endif %}
                        <i class="mdi mdi-calendar-range-outline tcd"></i> <b class="tc">{{ r.date.date|rplc }}</b>
                        <i class="mdi tcd mdi-clock-outline" style="margin-right: 1rem;"></i>  <b class="tc">  {{ r.date.time }}</b>
                        <a id="response{{ r.id }}" href="#response{{ r.id }}" style="font-size: 20px; padding-left: 20px;">
                            <i class="mdi mdi-folder-pound-outline tcd" style="margin-right: 1rem;font-size: 16px;"></i>
                            <b>
                                <span class="tc">{{ r.id }}</span>
                            </b>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}
