{% load saelozahra_tag %}
<div id="tooltip{{ h.id }}" style="display: none; width: 555px;height: 202px;float: left" >
    <div class="taj fl" style="width: 70%; padding-right:14px ">
        <h3 class="white-space">{{ h.Title }}</h3>
        {{ h.Description|safe|truncatechars_html:313 }}
    </div>
    <img src="{{ h.Picture.url }}" alt="" class="br fr" style="width: 30%;max-height: 100%;">
</div>
<figure class="harkat_item row br4 tooltip" data-tipped-options="inline: 'tooltip{{ h.id }}'">
    <img class="img br4" src="{{ h.Picture.url }}"  alt="{{ h.Title }}"/>
    <div class="harkat_left tar">
        <a href="{{ h.get_absolute_url }}" title="{{ h.Title }}">
            <h2>
                <figcaption class="white-space">
                    {% if h.Category.name == "آزادسازی زندانی" %}
                        <h4 style="color: dimgray; display: inline-block; padding-left: 4px; font-size: 60%">آزادسازی زندانی </h4>
                    {% endif %}
                    {{ h.Title }}
                </figcaption>
            </h2>
        </a>
        <h6 class="harkat_field_box row br4">
            <div class="harkat_field_title">
                <i class="mdi mdi-hand-heart"></i>
                {{ h.MadadKar.group_name }}:
            </div>
            <a href="{{ h.MadadKar.get_absolute_url }}" title="{{ h.MadadKar }}">
                {{ h.MadadKar.Name }}
            </a>
        </h6>
        <h6 class="harkat_field_box row br4">
            <div class="harkat_field_title">
              <i class="mdi mdi-cash-multiple"></i>
                کل مبلغ مورد نیاز:
            </div>
            {{ h.Amount|currency }}
        </h6>
        <h6 class="harkat_field_box row br4">
            <div class="harkat_field_title">
                <i class="mdi mdi-hand-peace"></i>
                مبلغ تامین شده:
            </div>
            {{ h.total_amount|currency }}
        </h6>
        <a href="{{ h.Category.get_absolute_url }}" class="harkat_field_box row br4 show_single">
            <div class="harkat_field_title">
                <i class="mdi mdi-folder-heart"></i>
                دسته بندی:
            </div>
            {{ h.Category }}
        </a>
        <h6 class="harkat_field_box row br4">
            {{ h.progress_html|safe }}
        </h6>
        <a class="btn br4 btn-default row" href="{{ h.get_absolute_url }}#pay_harkat">
            <span class="btn_percent" style="width: {{ h.percent }}%;"></span>
            کمک به تامین هزینه این  <b>{{ h.Category }}</b>
            <i class="mdi mdi-charity"></i>
        </a>
    </div>
</figure>
