{% load saelozahra_tag %}
<figure class="harkat_item row br4 tooltip" title="{{ h.Description|safe|striptags }}">
    <img class="img br4" src="{{ h.Picture.url }}"  alt="{{ h.Title }}"/>
    <div class="harkat_left tar">
        <a href="{{ h.get_absolute_url }}" title="{{ h.Title }}">
            <h2>
                <figcaption class="white-space">{{ h.Title }}</figcaption>
            </h2>
        </a>
        <h6 class="harkat_field_box row br4">
            <div class="harkat_field_title">
                <i class="mdi mdi-hand-heart"></i>
                مددکار:
            </div>
            <a href="{{ h.MadadKar.get_absolute_url }}" title="{{ h.MadadKar }}">
                {{ h.MadadKar }}
            </a>
        </h6>
        <h6 class="harkat_field_box row br4">
            <div class="harkat_field_title">
              <i class="mdi mdi-cash-multiple"></i>
                کل مبلغ مورد نیاز:
            </div>
            {{ h.Amount|currency }}
        </h6>
        <h6 class="harkat_field_box row br4">
            <div class="harkat_field_title">
                <i class="mdi mdi-hand-peace"></i>
                مبلغ تامین شده:
            </div>
            {{ h.total_amount|currency }}
        </h6>
        <a href="{{ h.Category.get_absolute_url }}" class="harkat_field_box row br4 show_single">
            <div class="harkat_field_title">
                <i class="mdi mdi-folder-heart"></i>
                دسته بندی:
            </div>
            {{ h.Category }}
        </a>
        <h6 class="harkat_field_box row br4">
            {{ h.percent_html|safe }}
        </h6>
        <a class="btn br4 btn-default row" href="{{ h.get_absolute_url }}#pay_harkat">
            <span class="btn_percent" style="width: {{ h.percent }}%;"></span>
            کمک به تامین هزینه این  <b>{{ h.Category }}</b>
            <i class="mdi mdi-charity"></i>
        </a>
    </div>
</figure>
