<div class="row" style="padding: 2rem 0; margin: 2rem auto">
    <div class="container">
        <h2 class="title_line"><span class="tc">حرکت‌های جهادی</span></h2>
        <div class="row" >
            <div class="columns-two">
                <div class="row taj" style="font-size: 122%">
                    {{ box.harkat.content|safe }}
                </div>
            </div>
            <div class="columns-two">
                <img src="{{ box.harkat.photo.url }}" alt="حرکت" draggable="false" class="img">
            </div>
        </div>
    </div>
</div>

<br style="clear: both">
<br style="clear: both">
<div class="row crowd_funding">
    <div class="container two-col">
        {% for hi in harkat %}
            {% include "harkat_item.html" with h=hi %}
        {% endfor %}
    </div>
</div>


