{% extends "base.html" %}
{% load saelozahra_tag %}
{% block content %}
    <div class="row all_course single">
        <br style="clear: both">
        <div class="container ">
            {% include "harkat_item.html" %}

            <div class="harkat_desc row br4 taj">
                {{ h.Description|safe }}
{#                <img class="img br4 fl" src="{{ h.Picture.url }}"  alt="{{ h.Title }}"/>#}
            </div>

            <div class="harkat_desc row br4">
                <ol>
                    <div class="head tcd">
                        <h3>شماره</h3>
                        <h3>واریز کننده</h3>
                        <h3>مبلغ</h3>
                        <h3>زمان</h3>
                        <h3>وضعیت</h3>
                    </div>
                    <hr>
                    <hr style="transform: rotate(180deg);margin-top: -10px;">
                    {% for tr in t %}
                        <li class="tooltip tr" title="{{ tr }}">
                            <h5>{{ tr.PurchaseID }}</h5>
                            <h5>{{ tr.Purchaser }}</h5>
                            <h5>{{ tr.Amount|currency }}</h5>
                            <h5>ساعت  <b class="tcd">{{ tr.PurchaseTime.time }}</b>  روز <b class="tcd">{{ tr.PurchaseTime.date|rplc }}</b></h5>
                            <h5>{{ tr.status_name }}</h5>
                        </li>
                    {% endfor %}
                </ol>
            </div>

        </div>
    </div>
{% endblock content %}