{% extends "base.html" %}
{% block content %}
    <div class="container">

        {% include "bread_crumb.html" with app_url='CoursePage' app_title="آمــــوزش‌ها" sec_url=course.category.get_absolute_url sec_name=course.category.name item=course.title %}

        <div class="columns-four padding sticky" style="padding-right: 0">
            <div class="row box author-box">
                <div class="avatar-box row">
                    <img class="row" src="{{ course.ostad.profile.url }}" alt="{{ course.ostad }}">
                </div>
                <br style="clear: both">
                <br style="clear: both">
                <br style="clear: both">
                <h3 class="padding">{{ course.ostad }}</h3>
                <h5 class="title_line" style="margin-top: 22px">
                    <span class="tc" style="background-color: #f9f9f9;margin-top: 7px;">درباره استاد</span>
                </h5>
                <h4 class="padding">{{ course.ostad.resume|safe }}</h4>
            </div>
            <div class="row box">
                <h5 class="title_line" style="margin-top: 22px">
                    <span class="tc" style="background-color: #f9f9f9;margin-top: 7px;">اطلاعات دوره</span>
                </h5>
                <nav class="row">
                    <div>تعداد درس ها: {{ course.lesson_count }}</div>
                    <div>طول کلاس: {{ course.ClassLength }}</div>
                    <div>روز کلاس حضوری: {{ course.day }}</div>
                </nav>
                <a href="{% url "CourseRegister" course.id request.user.id %}" class="row effect-shine btn_archive_style tr box" style="cursor: zoom-in;">
                    <i class="mdi mdi-cash-register"></i>
                    {% if registered %}
                        شما عضو کلاس هستید
                    {% else %}
                        برای عضویت کلیک کنید
                    {% endif %}
                </a>
                <div class="row box" id="bookmarkme" style="cursor: cell;">
                    <i class="mdi mdi-bookmark-plus-outline"></i>
                    افزودن به علاقه مندی ها
                </div>
                <ul class="course_foot container taj">
                    <li><i class="mdi mdi-eye-outline"></i>  {{ course.view_count }}  بازدید</li>
                    <li><i class="mdi mdi-folder-heart-outline"></i>  {{ course.like_count }}  پسند</li>
                </ul>
            </div>


            <div class="row box">

                <h5 class="title_line" style="margin-top: 22px">
                    <span class="tc" style="background-color: #f9f9f9;margin-top: 7px;">اشتراک گذاری</span>
                </h5>
                <div class="flex-row al-center tr" style="display: flex;justify-content: space-around;">

                    <a class="shareItems telegramShare effect-shine" target="_blank" href="tg://msg?text={{ course.get_absolute_url }}@shahid_hajghasem_soleimani">
                        <i class="mdi mdi-telegram"></i>
                    </a>
                    <a class="shareItems effect-shine" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ course.get_absolute_url }}&amp;title={{ course.title }}&amp;source=مواسات">
                        <i class="mdi mdi-linkedin"></i>
                    </a>
                    <a class="shareItems effect-shine" target="_blank" href="https://twitter.com/intent/tweet?hashtags=مواسات&amp;related=shahid_hajghasem_soleimani&amp;url={{ course.get_absolute_url }}&amp;text={{ course.title }}&amp;via=shahid_hajghasem_soleimani">
                        <i class="mdi mdi-twitter"></i>
                    </a>
                    <a class="shareItems effect-shine" target="_blank" href="https://www.facebook.com/share.php?u={{ course.get_absolute_url }}">
                        <i class="mdi mdi-facebook"></i>
                    </a>
                </div>
            </div>


        </div>
        <div class="columns-75 padding sticky" style="padding-left: 0">
            <div class="row box">
                <img src="{{ course.cover.url }}" class="row br4" alt="{{ course.title }}">
            </div>
            <div class="row box padding tar">
                <div class="row padding tar">
                    <h1>{{ course.title }}</h1>
                    <p>{{ course.content|safe }}</p>
                </div>
            </div>

            <div class="row box tar padding lessons">
                <ol class="row tar tr">
                {% for l in lessons %}
                    <li class="row tar padding">
                        {% if registered %}
                            <i class="mdi mdi-lock-open licon tac fr"></i>
                            <a class="" href="{{ course.get_absolute_url }}">
                                <b>{{ l }}</b>
                            </a>
                        {% else %}
                            <i class="mdi mdi-lock licon tac fr"></i>
                            <a class="" href="{{ l.get_absolute_url }}">
                                <b>{{ l }}</b>
                            </a>
                        {% endif %}
                        {% if l.file and registered %}
                            <a href="{{ l.file.url }}" download="">
                                <small> {{ l.lesson_length }} </small>
                                <i class="mdi mdi-minus-circle-outline" style="visibility: hidden"></i>
                                <i class="mdi mdi-download"></i>
                            </a>
                        {% else %}
                            <a href="{{ l.get_absolute_url }}">
                                <small> {{ l.lesson_length }} </small>
                                <i class="mdi mdi-store-24-hour" style="visibility: hidden"></i>
                                <i class="mdi mdi-read"></i>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <style>
        body {
            background-image: url('/static/assets/fabric_1.webp');
        }
        .lessons li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed var(--color-very-light);
        }
        .lessons li:hover {
            background-color: var(--color-very-light);
        }
        .lessons ol li a{
            font-weight: bolder;
        }
        .licon {
            border: 1px solid var(--color-dark);
            border-radius: 50%;
            width: 33px;
            height: 33px;
            font-size: 22px;
            color: var(--color-dark);
            line-height: 1.4;
            margin-left: 1rem;
            margin-top: -0.3rem;
        }

    </style>
{% endblock content %}