<div class="row" id="course_search">
    <div class="container">
        <b>جستجو در</b>
        <br>
        <small>حرکت‌ها، آموزش‌ها ، چالش‌ها و مشاغل ...</small>
    </div>
    <div class="searchBoxWrap container" >
        <form class="searchBox tr" method="get" action="../search" >
            <input class="" autocomplete="off" name="q" type="search" placeholder="دنبال چی میگردی؟">
            <button class="submit"><i class="mdi mdi-layers-search"></i></button>
        </form>

    </div>
    <div class="container site_statistics">
        <div class="li"><img src="/static/assets/lms/minutes.png" alt=""><h6>{{ statistics.harkat }}</h6> <small>حرکت جهادی</small> </div>
        <div class="li"><img src="/static/assets/lms/registered.png" alt=""><h6>{{ statistics.lms }}</h6> <small>کلاس آموزشی</small></div>
        <div class="li"><img src="/static/assets/lms/courses.png" alt=""><h6>{{ statistics.madadyar }}</h6> <small>کار جهادی</small></div>
        <div class="li"><img src="/static/assets/lms/registered.png" alt=""><h6>{{ statistics.forum }}</h6> <small>چالش ها</small></div>
        <div class="li"><img src="/static/assets/lms/courses.png" alt=""><h6>{{ statistics.job }}</h6> <small>مشاغل</small></div>
    </div>
</div>

<br style="clear: both">
<br style="clear: both">
<div class="row all_course">
    <div class="faraTitle container">
        <div class="title">
            دوره های آموزشی
            <i class="mdi mdi-slash-forward-box tcl"></i>
            اشتغال زایی
        </div>
    </div>
    <br style="clear: both">
    <div class="container four-col">
        {% for ci in course %}
            {% include "course_item.html" with c=ci %}
        {% endfor %}
    </div>
</div>